user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {
    resolver ${RESOLVER};

    map ${DOLLAR}remote_addr ${DOLLAR}upstream {
        default ${BACKEND_HOST};
    } 

    server {
        listen ${LISTEN_PORT};
        proxy_pass ${DOLLAR}upstream:${BACKEND_PORT};
    }

}